/*Geral*/
*{
    padding: 0;
    margin: 0;
    font-family: helvetica;
}
body h1{
    text-align: center;
}
main{
    background-image: linear-gradient(45deg, black, green);
    height: 100vh;
    color: #fff;
}
#forms{
    display: flex;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.7);
    border-radius: 15px;
    color: #fff;
    width: 400px;
}
#dados{
    padding: .8rem;
    border-right: 1px solid #ccc;
}
#result{
    text-align: center;
    width: 300px;
}
#result h4{
    background-color: rgba(0,0,0,.7);
    padding: .8rem;
    border-radius: 0 15px 0 0;
}
#result p{
    margin-top: 50%;
}
.hide{
    /* display: none; */
}
input{
    padding: .3rem;
    margin-bottom: .5rem;
}
label{
    margin-right: .3rem;
}

#calc{
    width: 100%;
    padding: .5rem;
    background-color: #38bbf7;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
#calc:hover{
    transition:.4s;
    background-color: #35c67b;
}
