/*Geral*/
*{
    padding: 0;
    margin: 0;
    font-family: helvetica;
}
body h1{
    text-align: center;
}
main{
    border: 1px solid #ccc;
    display: flex;
    max-width: 550px;
    margin: auto;

}
#dados{
    border-right: 1px solid #ccc;
    padding: .8rem;
}
#result{
    padding: .8rem;
    text-align: center;
    flex: 1;
    margin: auto;
}
.hide{
    display: none;
}
input{
    padding: .3rem;
    margin-bottom: .5rem;
}
label{
    margin-right: .3rem;
}

#calc{
    width: 100%;
    padding: .5rem;
    background-color: #38bbf7;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
#calc:hover{
    transition:.4s;
    background-color: #35c67b;
}
